.wrapper {
    max-width: $grid-width;
    width: 90%;
    margin: 0 auto;

    &--sidebar-left  {
        max-width: calc(#{$grid-width} * .35);
        margin-left: auto;
    }

    &--main-right {
        max-width: calc(#{$grid-width} * .65);
        margin-right: auto;
    }
}

.sidebar--left {
    flex: 1 0 calc(45% - (#{$grid-width} * .65));
    margin-left: 5%;
    margin-right: 9rem;
}

.main--right {
    flex: 1 1 calc(45% - (#{$grid-width} * .35));
    margin-right: 5%;
}

.flex-container {
    display: flex;
    flex-flow:row wrap;

    &--sidebar {
        display: flex;
        justify-content: center;
    }
}

[class*="col-"] {
    &:not(:last-child) {
        margin-right: $grid-gutter;

        @include respond(sm) {
            margin-right: 0;
        }
    }
}

.col-1-of-2 {
    width: calc((100% - #{$grid-gutter}) / 2);
    
    &:nth-child(2) {
        margin-right: 0;
    }

    @include respond(sm) {
        width: 100%;
    }
}

.col-1-of-3 {
    width: calc((100% - 2* #{$grid-gutter}) / 3);

    &:nth-child(3) {
        margin-right: 0;
    }

    @include respond(sm) {
        width: 100%;
    }
}