.header {
    height: 62.5rem;
    background-position: center;
    background-size: cover;

    @include respond(xs) {
        height: 45rem;
    }
}

.page-title__heading {
    line-height: 1.25;
    text-transform: uppercase;
}