.site-nav {

    background: transparent;
    padding: $gutter-horizontal 0;

    &__list {
        display: flex;
        list-style: none;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 4rem;
        }
    }

    &__link {
        text-decoration: none;
    }
}