.post-single {
    &__img-container {
        background-color: $color-accent;
    }

    &__img {
        position: relative;
        bottom: 2rem;
        left: 2rem;
    }

    &__text,
    &__content {
        @extend %text-container;
    }
    
    &__content {
        padding: 6rem 0;
    }
}