%btn {
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $color-accent;
    color: $color-secondary;

    @include josefin-baseline-fix(.5rem, .25rem);

    &:hover {
        background-color: $color-accent-light;
    }

    &--dark {
        @extend %btn;
        background-color: $color-secondary;
        color: #FFF;
        @include josefin-baseline-fix(.5rem, 1rem);

        &:hover {
            background-color: $color-secondary-light;
        }
    }
}