%btn {
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $color-accent;
    color: $color-secondary;
    border: 2px solid transparent;

    @include josefin-baseline-fix(.5rem, .25rem);

    &--dark {
        @extend %btn;
        background-color: $color-secondary;
        color: #FFF;
        @include josefin-baseline-fix(.5rem, 1rem);

        &:hover {
            background-color: $color-secondary-light;
            color: $color-secondary;
        }

        &:focus {
            border: 2px solid $color-primary;
        }
    }
    
    &:hover {
        background-color: $color-accent-light;
    }

    &:focus {
        border: 2px solid $color-text;
    }
}