* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%; // 1rem = 10px

    @include respond(sm) {
        font-size: 56.25%; // 1rem = 9px
    }

    @include respond(md) {
        font-size: 50%; // 1rem = 8px
    }

    @include respond(xxl) {
        font-size: 75%; // 1rem = 12px
    }
}

body {
    overflow-x: hidden;
}

img {
    width: 100%;
}