/*

FONTS

Header-Heading (the restaurant mall, get in touch, blog)
JosefinSans, Semibold, 69px

Headings (Locat.., Comm.., Blog, Get in.., Bring...)
JosefinSans, Regular, 45px
Line height: 99.8px

Heading (win a $100..., bringing nature..)
JosefinSans, Regular, 45px
Center, Line height: 99.8px

Heading (employment...)
JosefinSans, Regular, 45px
Line height: 99.8px

Headings (Best burg.., Try someth.., Comments)
JosefinSans, Regular, 40px
Line height: 58px, Letter spacing: 1.3px

Headings (Featured.., Recent..,
JosefinSans, Regular, 25px
Line height: 58px, Letter spacing: 0.8px

buttons
JosefinSans, Regular, 22.4px
Center, Line height: 41.6px

nav
JosefinSans, Bold, 20px
Center, Line height: 29px, Letter spacing: 1px

body text
Barlow, Regular, 20px
Line height: 28px, Letter spacing: 1px

*/

// Height added to center text using the Josefin sans typography
$josefin-baseline-fix: .25em;

body,
a {
    font-family: 'Josefin Sans', sans-serif;
    color: $color-text;
}

p,
a {
    font-family: 'Barlow', sans-serif;
    font-size: 2rem;
    line-height: 1.4;
    letter-spacing: 1px;
}

h1,
h2,
h3,
h4 {
    @include josefin-baseline-fix;
}

%title {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}

.site-nav__link {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.page-title__heading {
    font-size: 6.9rem
}

.info {
    &__title {
        @extend %title;
        font-size: 4.5rem;
    }
}

.menu-item {
    &__title {
        @extend %title;
        font-size: 4rem;
    }
}

.promo {
    &__title {
        @extend %title;
        font-size: 4.5rem;
        color: $color-accent;
    }
}

.nature {
    &__title {
        @extend %title;
        font-size: 4.5rem;
        color: $color-accent;
    }
}