.body--blog {
    background-color: $color-primary;
}

.header--blog {
    background: center / cover no-repeat url("../images/blog-header.jpg");
}

.related-posts {
    background-color: $color-secondary;
    margin-top: 10rem;
    padding: 2rem;
}

.featured-post {
    &__img-container {
        position: relative;
    }

    &__img {
        position: relative;
        bottom: 4rem;
        right: 20%;
        width: 120%;
        height: auto;
    }

    &__link:not(:hover) {
        text-decoration: none;
    }
}

.recent-posts {
    &__item {
        margin-left: 1rem;
        padding-left: 1rem;
    }
}

.main--right {
    margin-top: -10rem;
}

.post-single__content,
.post-comments {
    padding-left: 11rem;
}