.body--blog {
    background-color: $color-primary;
}

.header--blog {
    background: center / cover no-repeat url("../images/blog-header.jpg");
}

.post-single {
    &__img-container {
        background-color: $color-accent;
    }

    &__img {
        position: relative;
        bottom: 2rem;
        left: 2rem;
    }
}