// HEADER
.header--home {
    position: relative;
    background: center / cover no-repeat url("../images/home-header.jpg");

    .site-logo {
        &__line,
        &__block {
            display: block;
            @include josefin-baseline-fix;
        }

        &__block {
            display: inline-block;
            background-color: $color-text;
            color: $color-secondary;
            padding-left: 1rem;
            padding-right: 1rem;
            @include josefin-baseline-fix;
        }

    }

    &__img {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateY(30%);
        max-height: 62.5rem;
        width: auto;
    }
}

// RESTAURANT INFO SECTION
.info {
    background-color: $color-primary;
    padding-top: (18rem + $gutter-vertical-sm); // places child elements below header image
    padding-bottom: $gutter-vertical-lg;

    &__list {
        @extend %list-reset;
    }

    &__item {
        display: flex;
        align-items: flex-start;

        &:nth-child(1), 
        &:nth-child(2) {
            margin-bottom: $grid-gutter;    
        }
    }

    &__icon {
        flex: 1 0 5rem;
        height: 5rem;
        background-color: $color-accent;
        color: $color-secondary;
        border-radius: 50%;
        font-size: 2rem;
        margin-right: $gutter-horizontal;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

// MENU ITEMS SECTION
.menu {
    background-color: $color-secondary;
    position:relative;

    &::after {
        content: "";
        display: block;
        height: $gutter-vertical-sm;
        width: 100%;
        background-color: $color-primary;
    }
    .menu-item {
        align-items: flex-start;
        padding-bottom: $gutter-vertical-sm;
        
        &--reverse {
            @extend .menu-item;
            flex-direction: row-reverse;
        }

        &__img-container {
            background-color: $color-accent;
            height: 100%;
        }

        &__img {
            position: relative;
            width: 100%;
            bottom: 2rem;
            right: 2rem;

            &--reverse {
                @extend .menu-item__img;
                right: initial;
                left: 2rem;
            }
        }

        &__content {
            @extend %text-container;
        }
        
        &__btn {
            @extend %btn;
        }

        &:first-child .menu-item__content {
            margin-top: $gutter-vertical;
        }

        &:last-child > * {
            position: relative;
            top: 6rem;
        }
    }
}

// Promo Section
.promo {
    background-color: $color-primary;
    padding: $gutter-vertical-lg 0;

    &__content {
        @extend %text-container;
        text-align: center;
    }

    &__text {
        text-align: left;
    }

    &__btn {
        @extend %btn--dark;
    }
}

// Nature space section
.nature {
    background-color: $color-primary;
    padding: $gutter-vertical-lg;

    &__img-container {
        flex: 0 1 auto;
        position: relative;
        margin-right: $grid-gutter;
    }

    &__img {
        box-shadow: -2rem 2rem $color-accent;
    }

    &__content {
        flex: 1 1;
        @extend %text-container;
    }

    &__btn {
        @extend %btn--dark;
    }
}