// HEADER
.header--home {
    position: relative;
    background: center / cover no-repeat url("../images/home-header.jpg");

    .site-logo {
        &__line,
        &__block {
            display: block;
            &:not(:first-child) {
                @include josefin-baseline-fix;
            }
        }

        &__block {
            display: inline-block;
            background-color: $color-text;
            color: $color-secondary;
            padding-left: 1rem;
            padding-right: 1rem;
            @include josefin-baseline-fix;
        }

        @include respond(xs) {
            font-size: 3.2rem;
            position: relative;
            top: 3rem;
        }
    }

    &__img {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateY(30%);
        height: 62.5rem;
        width: auto;

        @include respond(sm) {
            max-height: 45rem;
            transform: translateY(25%);
            left: auto;
            right: -15vw;
            height: 45rem;
        }

        @include respond(xs) {
            transform: translateY(15%);
            height: 30rem;
        }

        border-right: 20px solid $color-accent;
    }

    @include respond(md) { 
        background: linear-gradient(
                    to top, 
                    rgba($color-black, .8),
                    rgba($color-black, 0.1)),
                    center / cover no-repeat url("../images/home-header.jpg");
    }

    @include respond(xxl) {
        background: center / contain no-repeat url("../images/home-header.jpg"),
                    $color-secondary;
    }
}

// RESTAURANT INFO SECTION
.info {
    background-color: $color-primary;
    padding-bottom: $gutter-vertical-lg;

    // places child elements below header image
    &::before {
        content: "";
        display: block;
        height: calc(18rem + #{$gutter-vertical-sm});
        width: 100%;

        @include respond(sm) {
            height: 12rem;
        }

        @include respond(xs) {
            height: 6rem;
        }
    }

    &__list {
        @extend %list-reset;
    }

    &__item {
        display: flex;
        align-items: flex-start;

        &:nth-child(1), 
        &:nth-child(2) {
            margin-bottom: $grid-gutter;    

            @include respond(md) {
                margin-bottom: 0;
            }
        }

        @include respond(md) {
            margin-top: $grid-gutter;
        }
    }

    &__icon {
        flex: 1 0 5rem;
        height: 5rem;
        background-color: $color-accent;
        color: $color-secondary;
        border-radius: 50%;
        font-size: 2rem;
        margin-right: $gutter-horizontal;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

// MENU ITEMS SECTION
.menu {
    background-color: $color-secondary;
    position:relative;

    .menu-item {
        align-items: flex-start;
        padding-bottom: 2rem;
        &--reverse {
            @extend .menu-item;
            flex-direction: row-reverse;

            & > *:first-child {
                margin-right: 0;
                margin-left: $grid-gutter;
            }

            &__img-container {
                position: relative;
                top: 4.5rem;
            }
        }

        &__img-container {
            background-color: $color-accent;
            height: 100%;
        }

        &__img {
            position: relative;
            width: 100%;
            bottom: 2rem;
            right: 2rem;

            &--reverse {
                @extend .menu-item__img;
                right: initial;
                left: 2rem;
            }
        }

        &__content {
            @extend %text-container;
        }
        
        &__btn {
            @extend %btn;
        }

        &:first-child .menu-item__content {
            margin-top: $gutter-vertical;
        }

        &:last-child > * {
            margin-top: 6rem;
        }
    }
}

// Promo Section
.promo {
    background-color: $color-primary;
    padding: $gutter-vertical-lg 0;

    &__content {
        @extend %text-container;
        text-align: center;
    }

    &__text {
        text-align: left;

        @include respond(md) {
            text-align: center;
        }
    }

    &__btn {
        @extend %btn--dark;
    }
}

// Nature space section
.nature {
    background-color: $color-primary;
    padding: $gutter-vertical-lg 0;

    &__img-container {
        flex: 0 1 auto;
        position: relative;
        margin-right: $grid-gutter;
        margin-bottom: $grid-gutter;
    }

    &__img {
        box-shadow: -2rem 2rem $color-accent;
    }

    &__content {
        flex: 1 1 40rem;
        @extend %text-container;

        @include respond(md) {
           flex-basis: 100%;
        }
    }

    &__btn {
        @extend %btn--dark;
    }
}

// Gallery section
.gallery {
    background-color: $color-secondary;
    padding: $gutter-vertical-lg 0;

    &__list {
        @extend %list-reset;
    }

    &__item {
        @include respond(sm) {

            &[class*='col-']:first-child {
                margin-right: $grid-gutter;
                margin-bottom: $grid-gutter;
            }

            &:not(:last-child) {
                width: calc((100% - #{$grid-gutter}) / 2);
            }
        }
    }
}