// Centers 'Josefin-sans' font baseline by adding space to the top
@mixin josefin-baseline-fix($padding-vert : 0rem, $padding-horz : 0rem) {
    $top-padding: .25em;
    $calc-padding-vert: calc(#{$top-padding} + #{$padding-vert});
    $calc-padding-horz: calc(#{$top-padding} + #{$padding-horz});

    @if $padding-vert != 0rem or $padding-horz != 0rem {
        padding: $calc-padding-vert $calc-padding-horz;
        padding-bottom: $padding-vert;
    } @else {
        padding-top: $top-padding;
    }
}