/*
COLORS

Sunflower yellow
#FFD300

Pine
#2B331B

Almost black
#171B0E

Black
#0F0F0F

*/

$color-primary: #2B331B;
$color-secondary:#171B0E;
$color-accent: #FFD300;
$color-text: #FFF;

$base-font-size: 62.5%;

$grid-width: 114rem;
$grid-gutter: 5rem;

$gutter-vertical: 7.2rem;
$gutter-vertical-sm: 5rem;

$gutter-horizontal: 2rem;